GOOGLE_API_KEY=your_google_api_key_here
LLM_MODEL=gemini-2.5-flash

OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3.5:0.8b

CUSTOM_LLM_KEY=your_custom_llm_key_here
CUSTOM_LLM_URL=https://opencode.ai/zen/go/v1
CUSTOM_LLM_MODEL=deepseek-v4-flash